<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <style>
        .farm-name {
            font-size: 18px;
            margin-bottom: 2rem !important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}"/>
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand" href="/">Online Farmer Market</a>
        <div class="navbar-container">
            <form class="form-inline my-2 my-lg-0" action="/search" method="get">
                <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search for products" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <a class="nav-link back" onclick="history.back()">
                <img src="https://www.svgrepo.com/show/101168/go-back-arrow.svg" alt="Go back" width="50" height="30" />
            </a>
        </div>
    </nav>

<div class="products">
    <div class="product-container">
        <div class="container">
            <div class="row">
                {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text farm-name">Farm: {{ product.farm_name }}</p>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
                            {% if role == 'buyer' or role == 'admin' or role == 'moderator' %}
                                <form method = "POST" action="/add_to_cart/{{ product.product_id }}">
                                    <div class="form-group">
                                        <label for="amount_{{ product.id }}">Amount:</label>
                                        <input type="number" id="amount_{{ product.id }}" name="amount" class="form-control" min="1" value="1" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-2">Add to Cart</button>
                                </form>
                                <div class="product-buttons">
                                    <a class="btn write-button" href="/message/farm/{{ product.farm_name }}">Write to Seller</a>
                                    <a class="btn write-button" href="/farmer/{{ product.farm_name }}/info">View Seller Information</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                    {% if loop.index % 4 == 0 and not loop.last %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
